.landing {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding: 0em 2em;
	justify-content: center;
	margin-top: -19%;
}
.landing__header {
	color: black;
	padding-bottom: 20px;
}
.landing__list {
	list-style: circle;
}
