@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.vertical-menu {
	min-height: 100vh;
}
h2 {
	height: 60px;
}
.vertical-nav-bar {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	height: 100%;
}

.vertical-menu a {
	background-color: whitesmoke;
	color: #141414;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-menu a:hover {
	background-color: #ccc;
}
.active {
	background-color: whitesmoke;
}
.vertical-menu a.active {
	background-color: #ccc;
	color: rgb(151, 36, 36);
}
